<div class="title">
    <h1> Administration</h1>
</div>
<div class="container">
    <div class="informations">
        <p>Il y a actuellement <span class="green">{{userList.length}}</span> étudiants et <span
                class="green">{{courseList.length}}</span> unités
            d'enseignement</p>
    </div>
    <div class="buttons">
        <button [class.active]="isChoosingUsers" id="userButton" (click)="swapDisplayToUsers()">Utilisateurs</button>
        <button [class.active]="isChoosingCourses" (click)="swapDisplayToCourses()" id="ueButton">Unités
            d'enseignement</button>
    </div>
    <div id="add">
        <button class="add" (click)="onAdd()">Ajouter</button>
    </div>
    @if (isChoosingUsers) {
    <table id="users">

        @for (user of userList; track user) {
        <tr>
            <td><img class="image-table" [src]="'http://localhost:3000/uploads/' + user.avatar" alt="Avatar"></td>
            <td>{{user.prenom}} {{user.nom}}</td>
            <td>@for (role of user.roles; track role) {
                @if (role === 'ROLE_ADMIN') {
                <span class="green">Administrateur </span>
                }
                @if (role === 'ROLE_PROFESSEUR') {
                <span class="green">Professeur </span>
                }
                @if (role === 'ROLE_USER') {
                <span class="green">Etudiant </span>
                }
                }
            </td>
            <td><a [href]="'mailto:' + user.email">{{user.email}}</a></td>
            <td class="interact-buttons">
                <button class="small" type="button" (click)="goToAffectations(user.id)">
                    <i class="fa-solid fa-book"></i>
                </button>
                <button class="small" type="button" (click)="goToModifyUser(user.id)">
                    <i class="fa-solid fa-pencil"></i>
                </button>
                <button class="small delete-user" type="button" (click)="openDeletePopup(user)">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
        </tr>
        }
    </table>}
    @if (showDeletePopup) {
    <div class="popup-overlay">
        <div class="popup">
            <p>Voulez-vous vraiment supprimer l'utilisateur <b>{{userToDelete?.prenom}} {{userToDelete?.nom}}</b> ?</p>
            <button id="delete" (click)="confirmDeleteUser()">Oui, supprimer</button>
            <button id="cancel" (click)="closeDeletePopup()">Annuler</button>
        </div>
    </div>
    }


    @if (isChoosingCourses) {

    <table id="ues">
        @for (course of courseList; track course) {
        <tr>
            <td><img class="image-table" [src]="'http://localhost:3000/uploads/' + course.image" alt="Image UE"></td>
            <td>{{course.code}}</td>
            <td><span class="green">{{course.intitule}}</span></td>
            <td class="interact-buttons">
                <button class="small" type="submit" (click)="goToModifyUe(course.id)">
                    <i class=" fa-solid fa-pencil"></i>
                </button>
                <button class="small delete-ue" type="button" (click)="openDeleteUePopup(course)">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
        </tr>
        }
    </table>
    }
    @if (showDeleteUePopup) {
    <div class="popup-overlay">
        <div class="popup">
            <p>Voulez-vous vraiment supprimer l'unité d'enseignement <b>{{ueToDelete?.code}} -
                    {{ueToDelete?.intitule}}</b> ?</p>
            <button id="delete" (click)="confirmDeleteUe()">Oui, supprimer</button>
            <button id="cancel" (click)="closeDeleteUePopup()">Annuler</button>
        </div>
    </div>
    }

</div>