<main>
    <app-course-header class="full-width"></app-course-header>

    <div class="full-width">
       <p class="participants">
        <a class="link-participants" href="#">Participants</a>
      </p>
      <h2 class="publications">Publications</h2>
      
    </div>
    <div class="search-add-bar">
       <app-search-bar></app-search-bar>

       <a href="#" class="button-add">
          <i class="fa-solid fa-plus"></i>
      </a>
    </div>
    
    <app-list-post class="full-width"></app-list-post>
    
</main>