<form (ngSubmit)="onSubmit($event)">
    <div class="title">
        <h1 *ngIf="user">Affecter une unité d'enseignement à {{user.nom | uppercase }} {{user.prenom}}</h1>
    </div>
    <div id="container">
        Cours déjà suivies :
        <span class="codeUe">
            @for (ue of uesAffectees; track ue; let last = $last) {
            {{ ue.code }}@if (!last) {, }
            }
        </span>


    </div>

    <p>

    </p>
    <br>

    <div class="form-input">
        <div>
            <label for="ue">Unités d'enseignement :</label>
            <select id="ue" name="ue" (change)="onUeChange($event)">
                <option [value]="null" disabled selected>Choisir une UE</option>
                <option *ngFor="let ue of coursesAvailable" [value]="ue.id">{{ ue.code }} - {{ ue.intitule }}</option>
            </select>
        </div>

    </div>

    <br>
    <!-- Remplace le bouton submit par un bouton classique -->
    <button type="button" [ngClass]="buttonClass" id="actionButton" (click)="onSubmit($event)">{{ buttonLabel
        }}</button>

    <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
</form>