<form>
    <div class="title">
        <h1>Affecter une unité d'enseignement à NOM PRENOM</h1>
    </div>
    <div id="container">
        Cours déjà suivies :
        <span class="codeUe">
            COURS 1 COURS 2 COURS 3 BLABLABLA
        </span>

    </div>

    <p>

    </p>
    <br>

    <div class="form-input">
        <div>
            <label for="ue">Unités d'enseignement :</label>
            <select id="ue" name="ue">
                <option value="ue1">UE 1</option>
                <option value="ue2">UE 2</option>
                <option value="ue3">UE 3</option>
                <option value="ue4">UE 4</option>
            </select>
        </div>

    </div>

    <br>
    <button type="submit" class="btn" id="actionButton">Ajouter</button>
</form>