* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    object-fit: contain;
}


.title {
    margin-bottom: 40px;
    text-align: center;
    color: #3A5A40;
}

form {
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    max-width: 350px;
    padding: 15px;
    font-size: 22px;
    border-radius: 10px;
    border: solid 1px #A3B18A;
    background-color: #A3B18A;
    color: #000000;
}

.btn {
    max-width: 350px;
    padding: 15px;
    font-size: 22px;
    border-radius: 10px;
    border: solid 1px #A3B18A;
    background-color: #A3B18A;
    color: #000000;
}

.btn {
    max-width: 350px;
    padding: 15px;
    font-size: 22px;
    border-radius: 10px;
    border: solid 1px #A3B18A;
    background-color: #A3B18A;
    color: #000000;
}

input {
    width: 500px;
    margin-left: 15px;
    border-radius: 5px;
    border: solid 1px #588157;
    font-size: 150%;
    padding-left: 7px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button:hover,
input[type="file"]::file-selector-button:hover {
    background-color: #588157;
    color: #FFFFFF;
    transition: 0.3s;
    cursor: pointer;
}

.form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.file {
    display: none;
}

.televerse {
    margin-right: 150px;
    color: #344E41;
    cursor: pointer;
}


.televerse:hover {
    text-decoration: underline;
}

select {
    font-size: 22px;
    width: 512px;
    margin-left: 15px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #588157;
}

input[type="file"] {
    max-width: 500px;
    padding: 6px;
    border: 1px solid #588157;
    /* Vert comme les autres champs */
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
    color: #333;
}

input[type="file"]::file-selector-button {
    background-color: #A3B18A;
    color: #000000;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease;
    margin-right: 16px;
}

.codeUe {
    color: #344E41;
    font-weight: bold;
}

#image {
    max-width: 431px;
}