<form (ngSubmit)="onSubmit()" #profilForm="ngForm">
    <div class="title">
        <h1> Changer votre mot de passe</h1>
    </div>

    <div class="form-input">
        <label for="old_pw">Ancien mot de passe :</label>
        <input id="old_pw" name="old_pw" type="password" [(ngModel)]="old_pw" required />
    </div>
    <br>

    <div class="form-input">
        <label for="new_pw1">Nouveau mot de passe :</label>
        <input id="new_pw1" name="new_pw1" type="password" [(ngModel)]="new_pw1" required />
    </div>
    <br>
    <div class="form-input">
        <label for="new_pw2">Confirmer le mot de passe :</label>
        <input id="new_pw2" name="new_pw2" type="password" [(ngModel)]="new_pw2" (ngModelChange)="checkPasswords()"
            required />
    </div>
    <br>
    <div *ngIf="new_pw1 && new_pw2 && !checkPasswords()" class="error">
        Les mots de passe ne correspondent pas.
    </div>
    <button type="submit" [disabled]="!checkPasswords()">Valider</button>
    <div *ngIf="message" style="margin-top:1em;color:green">{{ message }}</div>
</form>