<div class="post">
  <div class="titre-logo-supp">
    <div class="titre-logo">
      <!-- Icône en fonction du type -->
      <!-- Type 0 = message -->
      <i *ngIf="!post.type" class="fa-regular fa-message"></i>

      <!-- Type 1 = fichier -->
      <!-- Icône lien vers le fichier s’il existe et si le type est fichier -->
      <a *ngIf="post.type && post.fichier" [href]="'http://localhost:3000/uploads/posts/' + post.fichier" target="_blank">
        <i class="fa-regular fa-file"></i>
      </a>


      <h3>{{ post.titre }}</h3>
    </div>

    <!-- Bouton de suppression (visible seulement pour les profs) -->
    <i class="fa-solid fa-xmark" (click)="deletePost()"></i>
  </div>

  <p>Posté par {{ user?.prenom }} {{ user?.nom }} le {{ post.date | date: 'dd/MM/yyyy à HH:mm' }}</p>

  <div class="contenu-message">
    {{ post.contenu }}
  </div>

  <!-- Bouton modifier (visible seulement pour les profs) -->
  <div class="modifier">
    <a href="/modification/ue/456/post/123">
      <input class="button-modifier" type="button" value="Modifier">
    </a>
  </div>

  <hr>
</div>
<br>
