<div class="post">
  <div class="titre-logo-supp">
    <div class="titre-logo">
      <!-- Icône en fonction du type -->
      <!-- Type 0 = message -->
      <i class="fa-regular fa-message"></i>

      <!-- Type 1 = fichier -->
      <!-- Remplacer '#' par le lien du fichier -->
      <!-- <a href="#"><i class="fa-regular fa-file"></i></a> -->

      <h3>{{ post.titre }}</h3>
    </div>

    <!-- Bouton de suppression (visible seulement pour les profs) -->
    
    <i class="fa-solid fa-xmark"></i>
    
  </div>

  <p>Posté par Jean Dupont le 26/06/2025 à 14:30</p>

  <div class="contenu-message">
    {{post.contenu}}
  </div>

  <!-- Bouton modifier (visible seulement pour les profs) -->
  <div class="modifier">
    <a href="/modification/ue/456/post/123">
      <input class="button-modifier" type="button" value="Modifier">
    </a>
  </div>

  <hr>
</div>
<br>