<main>
  <div class="full-width">
    <app-course-header></app-course-header>
    <p class="participants">
      <a class="link-participants" [routerLink]="['/courses', courseId, 'participants']">Participants</a>
    </p>
    <h2 class="publications">Publications</h2>
    <div class="search-add-bar">
      <app-search-bar></app-search-bar>
      <a href="#" class="button-add">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
    <app-list-post [ueId]="6"></app-list-post>

  </div>


</main>