<form (ngSubmit)="onSubmit()" #profilForm="ngForm">
    <div class="title">
        <h1> Créer un utilisateur</h1>
    </div>

    <div class="form-input">
        <label for="nom">Nom :</label>
        <input id="nom" name="nom" type="text" [(ngModel)]="nom" required />
    </div>
    <br>
    <div class="form-input">
        <label for="prenom">Prenom :</label>
        <input id="prenom" name="prenom" type="text" [(ngModel)]="prenom" required />
    </div>
    <br>

    <div class="form-input">
        <label for="password">Mot de passe :</label>
        <input id="password" name="password" type="password" [(ngModel)]="password" required />
    </div>
    <br>
    <div class="form-input">
        <label for="mail">Mail :</label>
        <input id="mail" name="mail" type="email" [(ngModel)]="mail" required />
    </div>
    <br>
    <div class="form-input">
        <label for="role">Rôle :</label>
        <select id="role" name="role" (change)="updateRole($event)" required>
            <option value="">Sélectionner un rôle</option>
            <option value="etudiant">Étudiant</option>
            <option value="professeur">Professeur</option>
            <option value="admin">Admin</option>
            <option value="admin/prof">Admin/Prof</option>
        </select>
    </div>
    <br>

    <button type="submit" [disabled]="!profilForm.form.valid">Valider</button>
</form>