
/* Icône de message / Icône de partage de fichier */
.fa-regular.fa-message, .fa-file {
    font-size: 28px;
}
.fa-regular.fa-file {
    transition: transform 0.2s ease, color 0.2s ease;
}
.fa-regular.fa-file:hover {
    color: #40916c;
    transform: scale(1.2) rotate(-5deg);
    cursor: pointer;
}

/* Titre + logo + croix */
.titre-logo-supp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titre-logo {
    display: flex;
    gap: 10px;
}
.titre-logo-supp .fa-solid.fa-xmark {
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
    font-size: 24px;
    cursor: pointer;
}

.titre-logo-supp .fa-solid.fa-xmark:hover {
    color: red;
}

.titre-logo-supp h3 {
    margin: 0;
}

/* Texte du post */
.post p {
    color: #bab8b8;
    margin-top: 10px;
    margin-left: 40px;
}

/* Contenu principal du message */
.contenu-message {
    display: inline-block;
    align-self: flex-start;
    padding: 20px;
    border-radius: 5px;
    background-color: #A3B18A;
    margin-left: 40px;
}

/* Conteneur des boutons */
.modifier {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-left: 40px;
}


.button-modifier {
    cursor: pointer;
    width: 150px;
    height: 45px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}


.button-modifier {
    background-color: #A3B18A;
}

.button-modifier:hover {
    background-color: #DAD7CD;
}




a.link-participants {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

a.link-participants:hover {
    background-color: rgba(44, 62, 80, 0.1); /* fond discret au survol */
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}