* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    object-fit: contain;
}

.title {
    margin-top: 150px;
    margin-left: 100px;
    color: #3A5A40;
}

.container-courses {
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 90%;

}

.professor {
    color: #588157;
}

@media (max-width: 700px) {
    .container-courses {
        margin-left: 5%;
    }

    .course {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .course {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .course {
        width: 350px;
    }

    .container-courses {
        margin-left: 0px;
    }
}