<div class="title">
    <h1> Mon Profil</h1>
</div>
<div class="container-profil">
    <div class="left-profil">
        <img [src]="'http://localhost:3000/uploads/' + user.avatar" class="profil-avatar">
        <br>
    </div>
    <div class="right-profil">
        <p>Nom : <span class="green"> {{user.nom}}</span></p>
        <p>Prénom : <span class="green"> {{user.prenom}}</span></p>
        <p>Adresse mail : <span class="green"> {{user.email}}</span></p>
        <p>Rôle :

            @for (role of user.roles; track role) {
            @if (role === 'ROLE_ADMIN') {
            <span class="green">Administrateur </span>
            }
            @if (role === 'ROLE_PROFESSEUR') {
            <span class="green">Professeur </span>
            }
            @if (role === 'ROLE_ETUDIANT') {
            <span class="green">Etudiant</span>
            }
            }
        </p>

        <div>
        </div>
        <div class="buttons">
            <a routerLink="/profil/modifiy"><button><i class="fa-solid fa-gear"></i>
                    Modifier mon profil</button></a>
            <a routerLink="/profil/change_password"><button><i class="fa-solid fa-key"></i> Changer de
                    mot de passe</button></a>
        </div>
    </div>
</div>