<div class="title">
    <h1> Mon Profil</h1>
</div>
<div class="container-profil">
    <div class="left-profil">
        <img src="/images/avatar/avatar.jpg" class="profil-avatar">
        <br>
    </div>
    <div class="right-profil">
        <p>Nom : <span class="green"> NOM</span></p>
        <p>Prénom : <span class="green"> PRENOM</span></p>
        <p>Adresse mail : <span class="green"> EMAIL</span></p>
        <p>Rôle :
            <span class="green">
                Administrateur

            </span>
        </p>

        <div>
        </div>
        <div class="buttons">
            <a routerLink="/profil/modifiy"><button><i class="fa-solid fa-gear"></i>
                    Modifier mon profil</button></a>
            <a routerLink="/profil/change_password"><button><i class="fa-solid fa-key"></i> Changer de
                    mot de passe</button></a>
        </div>
    </div>
</div>