* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    object-fit: contain;
}

.title {
    margin-top: 150px;
    margin-left: 100px;
    color: #3A5A40;
}

.actuality-container {
    margin-top: 40px;
    font-size: 140%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.actualities {
    line-height: 1;

}

button {
    padding: 10px;
    width: 200px;
    background-color: #588157;
    border-radius: 10px;
    border: 1px solid #588157;
    color: #FFFFFF;
}

button:hover {
    background-color: #A3B18A;
    border: 1px solid #A3B18A;
    color: #000000;
    transition: 0.5s;
}

button:active {
    background-color: #588157;
    border: 1px solid #588157;
    color: #FFFFFF;
}

.professor {
    color: #588157;
}

@media (max-width: 700px) {
    .container-courses {
        margin-left: 5%;
    }

    .course {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .course {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .course {
        width: 350px;
    }

    .container-courses {
        margin-left: 0px;
    }
}