<main>
    <div class="full-width">
        <app-course-header></app-course-header>

        <div class="title">
            <h1>XX - INTULEBLABLABLA</h1>
        </div>
        <div class="container-participants">

        </div>

        <!-- Tableau des Professeurs (et Administrateurs) -->
        <p class="title2">Professeurs (et Administrateurs)</p>
        <table id="users">

            <tr>
                <td><img class="image-table" src=""></td>
                <td>NOM PRENOM</td>
                <td>ADMINISTRATEUR</td>
                <td><a href="mailto:">EMAIL</a></td>
            </tr>

        </table>

        <!-- Tableau des Etudiants -->
        <p class="title2">Etudiants</p>
        <table id="users">
            <tr>
                <td><img class="image-table" src=""></td>
                <td>NOM PRENOM</td>
                <td>ETUDIANT</td>
                <td><a href="mailto:">EMAIL</a></td>
            </tr>
        </table>
    </div>

</main>